{% extends 'base.html.twig' %}

{% block title %}ak58graph | {{project.client}} {% endblock %}
{% block metaTitle %}ak58graph | {{project.client}}{% endblock %}
{% block metaImage %}{{absolute_url(asset('uploads/thumbnails/') ~ project.projImage)}}{% endblock %}
{% block metaDescription %}{{project.description}}{% endblock %}

{% block body %}
<!-- START HOME -->
<section class="section header-bg-img h-10vh align-items-center d-flex pb-0">
    <div class="bg-overlay"></div>
    <div class="container z-index">
        <div class="row justify-content-start">
            <div class="col-lg-12">
                <div class="header-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{path('app_projects')}}"
                                    class=" text-white">Portfolio</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{project.client}}</li>
                        </ol>
                    </nav>

                    <h1 class="text-white">ak58graph | {{project.client}} </h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->

<!-- START WORK -->
<section class="section" id="portfolio" data-turn-bg-secondary>
    <div class="container">
        <div class="row gy-4 justify-content-center">
            <div class="col-12">
                <div class="portfolio-info rounded-2">
                    <h2 data-turn-text-white>Informations sur le Projet</h2>
                    <ul data-turn-text-white>
                        <li><strong>Réalisation</strong>: {{project.achievement}}</li>
                        <li><strong>Client</strong>: {{project.client}}</li>
                        <li>
                            <strong>Période de réalisation</strong>:
                            {{project.productionPeriod|format_datetime('long','none', 'MMMM Y') | capitalize}}
                        </li>
                        <li>
                            <strong>Lien du Projet</strong>:
                            {% if project.workLink %}
                            <a href="{{project.workLink}}" target="_blank"> <span class="mbri-paperclip"></span>
                                {{project.client|replace({'https://':''})|replace({'http://': ''})}}
                            </a>
                            {% endif %}

                        </li>
                        <li class="tag" data-turn-text-white>
                            <span>
                                {% for tag in project.tags %}
                                #{{tag.name}}
                                {% endfor %}
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h3 data-turn-text-principal>{{project.achievement}} - {{project.client}}</h3>
                    <p data-turn-text-white>
                        {{project.description}}
                    </p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        {% for image in project.images %}
                        <div class="swiper-slide">
                            <img src="{{ asset('uploads/projects/' ~ image.fileSrc)}}" alt="{{image.name}}"
                                class="rounded-2">
                        </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>

        </div>
        <div class="row justify-content-center mt-5">
            <a class="btn btn-warning w-75 mx-auto rounded-2 border-0" href="{{path('app_projects')}}"
                data-turn-bg-secondary data-turn-text-principal>Tous
                les projets</a>
        </div>
    </div>
</section>
<!-- END WORK -->
{% endblock %}

{% block javascripts %}
<script defer>
    document.addEventListener("DOMContentLoaded", function () {
        var mySwiper = new Swiper(".swiper", {
            // Options de configuration de Swiper
            slidesPerView: 1,
            spaceBetween: 20,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 1000, // Délai en millisecondes entre les diapositives (par exemple, 3000ms = 3 secondes)
                disableOnInteraction: false, // Laisser le défilement automatique continuer même si l'utilisateur interagit avec Swiper
            },
        });
    });
</script>
{% endblock %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
{% endblock %}