{% extends 'base.html.twig' %}

{% block title %}ak58graph{% endblock %}

{% block body %}
<!-- START HOME -->
<section class="section header-bg-img h-100vh align-items-center d-flex" id="home">
    <div class="bg-overlay"></div>
    <div class="container z-index">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center header-content mx-auto">
                    <h4 class="first-title mb-4">BIENVENUE</h4>
                    <h5 class="first-title">Je suis</h5>
                    <h1 class="header-name text-capitalize mb-0"><span class="simple-text-rotate fw-bold">Carrel
                            AKODANDE HONMA.,Graphic
                            Designer.</span>
                    </h1>
                    <p class="mx-auto header-desc mt-4">ak58graph : Où la passion rencontre la
                        conception.</p>
                    <div class="mt-4 pt-2">
                        <a href="#portfolio" class="btn btn-outline-custom btn-round">Portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wave_sec">
        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <defs></defs>
            <path id="wave_img"
                d="M 0 185.609 C 317.16666666666663 118.136 317.16666666666663 118.136 634.3333333333333 151.87 C 951.4999999999999 185.609 951.4999999999999 185.609 1268.6666666666665 116.402 C 1585.833333333333 47.195 1585.833333333333 47.195 1903 131.925 L 1903 507 L 0 507 Z"
                fill="#fff"></path>
        </svg>
    </div>
</section>
<!-- END HOME -->

<!-- START ABOUT -->
<section class="section pt-3" id="about" data-turn-bg-dark>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="mt-3">
                    <img src="{{asset('assets/images/about.png')}}" alt=""
                        class="img-fluid mx-auto d-block img-thumbnail">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mt-3">
                    <h2><span class="fw-bolder" data-turn-text-principal>Moi ?</span></h2>
                    <h4 class="mt-4" data-turn-text-white>Salut ! <span class="fw-bolder custom-title">Je suis
                            Carrel AKODANDE
                            HONMA.</span>
                    </h4>
                    <i data-turn-text-white>expert en conception graphique et en stratégie numérique.</i>
                    <p class="text-muted mt-4" data-turn-text-white>
                        Je suis un créateur passionné qui apporte une touche artistique à la
                        stratégie d'entreprise. Ma mission est de
                        transformer des concepts en visuels captivants et de construire des présences en ligne
                        mémorables. <br>
                        En tant que graphiste, je mets à votre disposition une expertise solide dans la création de
                        visuels percutants qui
                        racontent une histoire et renforcent votre marque.
                    </p>
                    <p class="text-muted mt-2"></p>
                    <h2><span class="fw-bold" data-turn-text-principal>Pourquoi faire appel à moi ?</span></h2>

                    <p class="text-muted mt-2" data-turn-text-white>
                        Les designs d'entreprise sont la pierre angulaire de votre stratégie marketing. Ils sont
                        essentiels pour attirer,
                        engager et convertir votre public cible. En collaborant avec moi, vous bénéficiez de
                        l'expertise d'un professionnel qui
                        comprend l'importance du design dans la croissance de votre entreprise.
                    </p>
                    <div class="d-flex flex-column align-items-center justify-content-center">
                        <a href="#" class="btn btn-outline-custom btn-round btn-warning text-black">Rencontrons-nous</a>
                        <ul class="mb-0 about-social list-inline mt-4">
                            <li class="list-inline-item">
                                <a data-turn-text-white target="_blank"
                                    href="https://api.whatsapp.com/send?phone=22962790602&text=Bonjour%20Carrel%2C%20je%20vous%20contacte%20depuis%20votre%20site%20web.%20Pourriez-vous%20me%20fournir%20davantage%20de%20d%C3%A9tails%20%C3%A0%20concernant%20vos%20services%20%3F">
                                    <i class="mdi mdi-whatsapp"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a data-turn-text-white href="#" target="_blank">
                                    <i class="mdi mdi-linkedin"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a data-turn-text-white href="https://www.instagram.com/increase_your_brand/"
                                    target="_blank">
                                    <i class="mdi mdi-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END ABOUT -->

<!-- START SERVICES -->
<section class="section bg-light" id="services" data-turn-bg-secondary>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2 class="custom-title">Mes <span class="fw-bold">Services</span></h2>
                    <p class="text-muted mx-auto mt-3" data-turn-text-white>Découvrez comment je peux collaborer
                        avec
                        vous pour créer des expériences visuelles exceptionnelles et renforcer votre
                        présence en ligne.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-4">
                <div class="text-center services-boxes p-4 mt-4 shadow-lg">
                    <div class="services-boxes-icon">
                        <i class="mbri-responsive text-custom display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h5 class="mb-0" data-turn-text-principal>Conceptions graphiques</h5>
                        <div class="services-title-border"></div>
                        <p class="text-muted mt-3" data-turn-text-white>Création d'affiches et de flyers percutants
                            pour vos
                            événements,
                            promotions et campagnes publicitaires.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center services-boxes p-4 mt-4 shadow-lg">
                    <div class="services-boxes-icon">
                        <i class="mbri-touch text-custom display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h5 class="mb-0" data-turn-text-principal>Visuels pour Réseaux Sociaux</h5>
                        <div class="services-title-border"></div>
                        <p class="text-muted mt-3" data-turn-text-white>Développement de visuels engageants et
                            adaptés aux médias sociaux
                            pour renforcer votre présence en ligne.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center services-boxes p-4 mt-4 shadow-lg">
                    <div class="services-boxes-icon">
                        <i class="mbri-underline text-custom display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h5 class="mb-0" data-turn-text-principal>UI/UX Design</h5>
                        <div class="services-title-border"></div>
                        <p class="text-muted mt-3" data-turn-text-white>Conception experte de maquettes de sites web
                            et d'applications
                            mobiles pour une expérience utilisateur optimale.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center services-boxes p-4 mt-4 shadow-lg">
                    <div class="services-boxes-icon">
                        <i class="mbri-image-slider text-custom display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h5 class="mb-0" data-turn-text-principal>Branding</h5>
                        <div class="services-title-border"></div>
                        <p class="text-muted mt-3" data-turn-text-white>Élaboration d'identités visuelles uniques
                            pour renforcer la
                            reconnaissance de votre marque.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center services-boxes p-4 mt-4 shadow-lg">
                    <div class="services-boxes-icon">
                        <i class="mbri-print text-custom display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h5 class="mb-0" data-turn-text-principal>Conception d'imprimés</h5>
                        <div class="services-title-border"></div>
                        <p class="text-muted mt-3" data-turn-text-white>Création de supports imprimés tels que
                            brochures, dépliants,
                            cartes de visite, les vêtements et les articles promotionnels.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center services-boxes p-4 mt-4 shadow-lg">
                    <div class="services-boxes-icon">
                        <i class="mbri-cust-feedback text-custom display-4"></i>
                    </div>
                    <div class="mt-4">
                        <h5 class="mb-0" data-turn-text-principal>Consultation en Design</h5>
                        <div class="services-title-border"></div>
                        <p class="text-muted mt-3" data-turn-text-white>Conseils et expertise en design pour vous
                            guider dans vos
                            décisions stratégiques et support logiciel ( Canva, Adobe...).</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END SERVICES -->

<!-- START WORK -->
<section class="section text-center" id="portfolio" data-turn-bg-dark>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="">
                    <h2 class="text-center custom-title"><span class="fw-bold">PORTFOLIO</span></h2>
                    <p class="text-muted mx-auto mt-3" data-turn-text-white>Bienvenue dans mon portfolio, où l'art
                        de la
                        créativité prend vie. Explorez un échantillon de mes projets passés, un
                        voyage visuel à travers une variété de réalisations qui illustrent ma passion pour la
                        conception graphique et la
                        création numérique.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5 ">
            <ul class="col list-unstyled list-inline mb-0 text-uppercase work_menu" id="menu-filter">
                <li class="list-inline-item"><a class="active" data-filter="*" data-turn-text-white>Récent</a></li>
                <li class="list-inline-item"><a class="" data-filter=".entreprises" data-turn-text-white>Entreprises</a>
                </li>
                <li class="list-inline-item"><a class="" data-filter=".evenements" data-turn-text-white>Evènements</a>
                </li>
                <li class="list-inline-item"><a class="" data-filter=".organisme" data-turn-text-white>Organisme</a>
                </li>
                <li class="list-inline-item"><a class="" data-filter=".ui" data-turn-text-white>UI/UX</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row mt-4 work-filter">
            <div class="col-lg-4 work_item entreprises ui">
                <a href="" class="img-zoom">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="{{asset('assets/images/works/1.jpg')}}" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <p class="mb-2">Category</p>
                            <p>
                                <a href="portfolio-details.html" title="Plus de détail">
                                    <i class="mbri-paperclip"></i>
                                </a>
                            </p>
                            <h4 class="mb-0">Project Title</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 work_item evenements organisme ui">
                <a href="" class="img-zoom">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="{{asset('assets/images/works/2.jpg')}}" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <p class="mb-2">Category</p>
                            <p>
                                <a href="portfolio-details.html" title="Plus de détail">
                                    <i class="mbri-paperclip"></i>
                                </a>
                            </p>
                            <h4 class="mb-0">Project Title</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 work_item organisme ui">
                <a href="" class="img-zoom">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="{{asset('assets/images/works/3.jpg')}}" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <p class="mb-2">Category</p>
                            <p>
                                <a href="portfolio-details.html" title="Plus de détail">
                                    <i class="mbri-paperclip"></i>
                                </a>
                            </p>
                            <h4 class="mb-0">Project Title</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 work_item entreprises ui evenement">
                <a href="" class="img-zoom">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="{{asset('assets/images/works/4.jpg')}}" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <p class="mb-2">Category</p>
                            <p>
                                <a href="portfolio-details.html" title="Plus de détail">
                                    <i class="mbri-paperclip"></i>
                                </a>
                            </p>
                            <h4 class="mb-0">Project Title</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 work_item ui organisme">
                <a href="" class="img-zoom">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="{{asset('assets/images/works/5.jpg')}}" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <p class="mb-2">Category</p>
                            <p>
                                <a href="portfolio-details.html" title="Plus de détail">
                                    <i class="mbri-paperclip"></i>
                                </a>
                            </p>
                            <h4 class="mb-0">Project Title</h4>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 work_item devlopment webdesign">
                <a href="" class="img-zoom">
                    <div class="work_box">
                        <div class="work_img">
                            <img src="{{asset('assets/images/works/6.jpg')}}" class="img-fluid mx-auto d-block rounded"
                                alt="work-img">
                        </div>
                        <div class="work_detail">
                            <p class="mb-2">Category</p>
                            <p>
                                <a href="portfolio-details.html" title="Plus de détail">
                                    <i class="mbri-paperclip"></i>
                                </a>
                            </p>
                            <h4 class="mb-0">Project Title</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- END WORK -->

<!-- START CONTACT -->
<section class="section" id="contact" data-turn-bg-secondary>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><span class="fw-bold custom-title">Contact</span></h2>
                    <p class="text-muted mx-auto section-subtitle mt-3" data-turn-text-white>Parlons ensemble de
                        votre projet. Je suis
                        disponible pur tous vos travaux en FREELANCE</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 col-lg-6">
                <div class="text-center">
                    <div>
                        <i class="mbri-mobile2 text-custom h1"></i>
                    </div>
                    <div class="mt-3">
                        <h5 class="mb-0 contact_detail-title fw-bold" data-turn-text-white>Téléphone</h5>
                        <p class="text-muted" data-turn-text-white>
                            +229 62 79 06 02
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-6">
                <div class="text-center">
                    <div>
                        <i class="mbri-letter text-custom h1"></i>
                    </div>
                    <div class="mt-3">
                        <h5 class="mb-0 contact_detail-title fw-bold" data-turn-text-white>Email</h5>
                        <p class="text-muted" data-turn-text-white>akarrel58@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="form-kerri contact_form">
                    {{form_start(contactForm)}}
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group mt-2">
                                {{form_row(contactForm.full_name)}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group mt-2">
                                {{form_row(contactForm.tel)}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group mt-2">
                                {{form_row(contactForm.client_email)}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group mt-2">
                            {{form_row(contactForm.subject)}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="form-group mt-2">
                                {{form_row(contactForm.message)}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-end mt-2">
                            <input type="submit" id="submit" name="send" class="btn btn-custom text-uppercase"
                                value="Envoyez">
                        </div>
                    </div>
                    {{form_end(contactForm)}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTACT -->
{% endblock %}