{% extends 'admin.html.twig' %}

{% block title %}Dashboard | ak58graph{% endblock %}

{% block body %}
<div id="container" class="p-4 p-md-5 pt-5" onload="init()">
    <h2 class="mb-4">Tableau de bord</h2>
    <p></p>
    <button onclick="getOrder(this)" class="btn btn-primary" data-href="{{path('app_remake_order')}}"
        data-token="{{csrf_token('updateProjectsOrder')}}">Enregistrez
        les
        modifications</button>
    <hr>
    <div class="row" id="dragparent">
        {% for project in projects %}
        <div class="card dragthing m-1" style="width: 18rem;" data-project-id="{{project.id}}">
            <img src="{{asset('uploads/thumbnails/' ~ project.projImage) | imagine_filter('my_thumbs')}}"
                class="card-img-top" alt="{{project.client}}">
            <div class="card-body pb-0">
                <h5 class="card-title text-center">
                    {{project.client}}
                </h5>
                <div class="card-text">
                    <ul style="list-style: none; padding-left: 0;" class="tag">
                        <li>Réalisation : {{project.achievement}}</li>
                        <li>Client : {{project.client}}</li>
                        <li>
                            Période de réalisation :
                            {{project.productionPeriod|format_datetime('long','none', 'MMMM Y') | capitalize}}
                        </li>
                        <li>
                            Lien du Projet :
                            <a href="{{project.workLink}}" target="_blank">
                                {{project.workLink|replace({'https://':''})|replace({'http://': ''})}}
                            </a>
                        </li>
                        <li>
                            Tags :
                            {% for tag in project.tags %}
                            #{{tag.name}}
                            {% endfor %}
                        </li>
                        <li>
                            Catégories :
                            {% for category in project.categories %}
                            #{{category.name}}
                            {% endfor %}
                        </li>
                    </ul>
                    <p class="text-muted tag">
                        {{project.description |slice(0, 75) ~ (project.description|length > 75 ? '...' : '')}}
                    </p>
                </div>
            </div>
            <div class="card-footer d-flex justify-content-around">
                <a href="" class="badge bg-danger" title="Supprimer"> <i class='bx bx-trash'></i></a>
                <a href="{{path('app_admin_edit_projects', {slug: project.slug})}}" class="badge bg-dark"
                    title="Modifier">
                    <i class='bx bx-edit'></i>
                </a>
                <a href="{{path('app_projects_details', {slug: project.slug})}}" class="badge bg-success" title="Voir"
                    target="_blank">
                    <i class='bx bx-play-circle'></i>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% block javascripts %}
<script src="{{asset('admin/js/drag.js')}}"></script>
{% endblock %}
{% endblock %}