{% extends 'admin.html.twig' %}

{% block title %}Dashboard | ak58graph{% endblock %}

{% block body %}
<div id="container" class="px-4 px-md-5 py-0">
    <h2 class="mb-4">Ajoutez un projet</h2>
    {% if form_errors(addProject) %}
    <div class="alert alert-warning">
        {{ form_errors(addProject) }}
    </div>
    {% endif %}
    <hr>
    <div class="row justify-content-center">
        <div class="col-11 shadow-lg p-3 rounded-lg">
            {{form_start(addProject)}}
            <div class="mb-3">
                <label>Client</label>
                {{form_widget(addProject.client)}}
                <small id="clientHelp" class="form-text text-muted">&#8627; Bénéficiaire du projet</small>
            </div>
            <div class="mb-3">
                <label>Catégorie</label>
                {{form_widget(addProject.category)}}
                <small id="categoryHelp" class="form-text text-muted">&#8627; Ex : Web design</small>
            </div>
            <div class="row mb-3">
                <div class="col-xl-4 col-lg-5 col-md-6">
                    <label>Période de réalistion</label>
                    {{form_widget(addProject.productionPeriod)}}
                    <small id="productionPeriodHelp" class="form-text text-muted">&#8627; Date de livraison du
                        projet</small>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <label>Lien du projet (url) </label>
                    {{form_widget(addProject.work_link)}}
                    <small id="work_linkHelp" class="form-text text-muted">&#8627; Adresse de visualisation du
                        projet (Google drive, Site web etc etc ) </small>
                </div>
            </div>
            <div class="mb-3">
                <label>Description</label>
                {{form_widget(addProject.description)}}
            </div>
            <div class="mb-3">
                <label>Image de prévisualisation du projet</label>
                {{form_widget(addProject.proj_image)}}
            </div>
            <div class="mb-3">
                <label>Images Carrousel</label>
                {{form_widget(addProject.images)}}
            </div>
            <div class="mb-3">
                <label>Tags</label>
                {{form_widget(addProject.tags)}}
            </div>

            <button type="submit" class="btn btn-secondary">Ajoutez</button>
            {{form_end(addProject)}}

        </div>
    </div>
</div>
{% endblock %}